@media (min-width: 576px) {
  .hero-img {
    display: block;
    width: 40rem;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .logo--toggle {
    display: none;
  }

  .navbar {
    height: auto;
  }

  .navbar-list {
    flex-direction: row;
    padding: 0;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

@media screen and (min-width: 992px) {
  .skill-icon {
    font-size: 6.2rem;
  }
}

@media screen and (min-width: 1200px) {
  .navbar-list {
    gap: 6.8rem;
  }
  .skill-icon {
    font-size: 7.4rem;
  }
  .project-img {
    height: 30rem;
  }

  .project-name {
    color: var(--primary-color);
    font-size: 2.4rem;
  }

  .project-text {
    font-size: 1.4rem;
    line-height: 1.5;
    margin: 2.4rem 0;
    max-width: 50rem;
  }
}
