/* 
=======================
Header 
=======================
*/

.header-container {
  display: flex;
  flex-direction: column;
  padding: 1.8rem 0;
}

.logo-container {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 2.4rem;
  cursor: pointer;
}

.logo--toggle {
  transition: var(--transition);
}

.logo--toggle:hover {
  transform: scale(1.1);
}

.navbar {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.show-navbar {
  height: 25rem;
}

.navbar-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding-top: 3.2rem;
}

.navbar-list-item a:link,
.navbar-list-item a:visited {
  font-size: 1.6rem;
  color: var(--main-black);
  transition: var(--transition);
  font-weight: 500;
}

.navbar-list-item a:hover,
.navbar-list-item a:active {
  color: var(--primary-color);
}

/* 
=======================
Hero Section 
=======================
*/

.hero {
  min-height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.hero-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}

.hero-description h1 {
  font-size: 3.6rem;
}

.hero-name {
  display: block;
  color: var(--primary-color);
  font-size: 6.2rem;
}

.hero-description p {
  font-size: 1.6rem;
  color: var(--grey-color);
}

.hero-img {
  display: none;
}

.social-icons {
  margin-top: 1.2rem;
}

.social-icon {
  color: var(--grey-color);
  font-size: 1.8rem;
  padding-right: 1.2rem;
  transition: var(--transition);
}

.social-icon:hover {
  color: var(--primary-color);
}

/* 
=======================
Skills Section 
=======================
*/

.skills-section {
  padding: 6.4rem 0;
}

.skill-icons {
  display: flex;
  justify-content: space-around;
}

.skill-icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-icon {
  font-size: 5.2rem;
  color: var(--light-grey-color);
  transition: var(--transition);
  cursor: pointer;
}

.skill-name {
  font-size: 1.4rem;
  opacity: 0;
  transition: var(--transition);
  margin-top: 0.2rem;
}

.skill-icon:hover {
  color: var(--main-black);
}

.skill-icon:hover + .skill-name {
  opacity: 1;
}
